main {
	justify-content: center;
	align-items: center;
}

#login {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 450px;
	width: 450px;
	color: black;
}

#login>form {
	display: grid;
	width: 60%;
}

#registrarse {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 450px;
	width: 450px;
	color: black;
}

#registrarse>form {
	display: grid;
	width: 60%;
}