main {
  justify-content: center;
  align-items: center;
}

#login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
  background-color: white;
  height: 450px;
  width: 450px;
  border: 5px solid white;
  background-color: #0d738c;
}

form > input[type="button"] {
  grid-column: 1 / 3;
  width: 50%;
  margin: auto;
}

#registrarse {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
  height: 450px;
  width: 450px;
  background-color: #0d738c;
  border: 5px solid white;
}

form {
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 10px 0px;
  width: 60%;
}

.contra{
  background-color: #0d738c;
  height: 105px;
  width: 1px;
}
.pruebas{
  border: solid black 1px;
  background-color: white;
  position: absolute;
  margin-top: 93px;
  height: 103px;
  width: 268px;
}

.incorrecto{
  color: red;
}

.incorrecto::before{
  content: " ✘ ";
}

.correcto {
  color: green;
}

.correcto::before {
  content: " ✔ ";
}

#minuscula {
  position: absolute;
}
#mayuscula {
  position: absolute;
  margin-top: 20px;
}
#dosseguidos {
  position: absolute;
  margin-top: 40px;
}
#signo {
  position: absolute;
  margin-top: 60px;
}
#longitud {
  position: absolute;
  margin-top: 80px;
}

span{
  color: red;
}

span::before {
  content: "✘ ";
}